<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDl14oZYxuHya68M6ah9g6wNFuUuTgxPQE</string>
	<key>GCM_SENDER_ID</key>
	<string>840865245864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vesion6</string>
	<key>PROJECT_ID</key>
	<string>test8-1cc0c</string>
	<key>STORAGE_BUCKET</key>
	<string>test8-1cc0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840865245864:ios:40375c6ada6ae81865309d</string>
	<key>DATABASE_URL</key>
	<string>https://test8-1cc0c-default-rtdb.firebaseio.com</string>
</dict>
</plist>