<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdh8OBjWIrkm5IDeYbDtsaYMq5CxJBpOk</string>
	<key>GCM_SENDER_ID</key>
	<string>1003291557669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vesion6.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-speed</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-speed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003291557669:ios:bc3b60d3da3f45b33924cc</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-speed-default-rtdb.firebaseio.com</string>
</dict>
</plist>